<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DatawareHouse</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/1.jpg">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header">
        <div class="brand-logo">
            <img src="/images/tongjiLOGO.png" alt="">
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header">
        <div class="header-content clearfix">
            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-left">
                <div class="input-group icons">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i
                                class="mdi mdi-magnify"></i></span>
                    </div>
                    <input type="search" class="form-control" placeholder="Search Dashboard"
                           aria-label="Search Dashboard">
                    <div class="drop-down   d-md-none">
                        <form action="#">
                            <label>
                                <input type="text" class="form-control" placeholder="Search">
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label">query menu</li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i><span class="nav-text">关系型数据库</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="#">Home 1</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">分布式数据库</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="#">Home 1</a></li>
                        <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                    </ul>
                </li>
                <li class="mega-menu mega-menu-sm">
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Layouts</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="#">Blank</a></li>
                        <li><a href="#">One Column</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">关系型数据库</h4>
                            <div class="button-icon">
                                <button type="button" class="btn mb-1 btn-primary" onclick="ModalForYear()">根据year查询<span
                                        class="btn-icon-right"><i class="fa fa-shopping-cart"></i></span>
                                </button>
                                <button type="button" class="btn mb-1 btn-info" onclick="ModalForYearAndMonth()">根据year和month查询<span
                                        class="btn-icon-right"><i class="fa fa-heart"></i></span>
                                </button>
                                <button type="button" class="btn mb-1 btn-danger" onclick="FindMovieByYearAndQuarterly()">根据year和quarterly查询 <span class="btn-icon-right"><i
                                        class="fa fa-close"></i></span>
                                </button>
                                <button type="button" class="btn mb-1 btn-secondary" onclick="FindMovieVersionsByName()">根据名字查找电影版本<span
                                        class="btn-icon-right"><i class="fa fa-envelope"></i></span>
                                </button>
                                <button type="button" class="btn mb-1 btn-warning" onclick="FindMovieBydirectorDirectorName()">根据导演name查找电影<span
                                        class="btn-icon-right"><i class="fa fa-star"></i></span>
                                </button>
                                <button type="button" class="btn mb-1 btn-success" onclick="FindMovieBydirectorActorName()">根据演员的name查找电影<span class="btn-icon-right"><i
                                        class="fa fa-check"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">分布式数据库</h4>
                            <div class="button-icon">
                                <button type="button" class="btn mb-1 btn-rounded btn-primary" onclick="FindRelationshipOfDirectorAndActorByNum()">根据输入最小值查找导演演员之间合作次数超过这一数字的
                                </button>
                                <button type="button" class="btn mb-1 btn-rounded btn-info" onclick="FindRelationshipOfActorAndActorByNum()">根据查找演员之间合作次数</button>
                                <button type="button" class="btn mb-1 btn-rounded btn-danger" onclick="FindMovieCountByType()">根据电影类型type查找电影
                                </button>
                                <button type="button" class="btn mb-1 btn-rounded btn-secondary" onclick="FindMovieCountByGrade()">根据最低评分grade查找电影
                                </button>
                                <a href="/queryForAll"><button type="button" class="btn mb-1 btn-rounded btn-success">组合查询
                                </button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script src="/js/common.min.js"></script>
<script src="/js/custom.min.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/gleek.js"></script>
<script src="/js/styleSwitcher.js"></script>

<!--**********************************
    Modal
***********************************-->

<!--  根据year来查询电影数目  -->
<div class="col-lg-12">
    <div class="bootstrap-modal">
        <div class="modal fade" id="ModalForYear">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">进行查询</h5>
                    </div>
                    <div class="modal-body">
                        <h5>请输入您需要查询的年份(例如2021)</h5>
                        <form th:action="@{/FindMovieByYear}" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">year:</label>
                                <input type="text" class="form-control" id="recipient-name" name="year">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  根据year和month来查询电影数目  -->
<div class="col-lg-12">
    <div class="bootstrap-modal">
        <div class="modal fade" id="ModalForYearAndMonth">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">进行查询</h5>
                    </div>
                    <div class="modal-body">
                        <h5>请输入您需要查询的年份和月份(例如2021 12)</h5>
                        <form th:action="@{/FindMovieByYearAndMonth}" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">year:</label>
                                <label>
                                    <input type="text" class="form-control"  name="year">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">month:</label>
                                <label>
                                    <input type="text" class="form-control"  name="month">
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  根据year和quarterly来查询电影数目  -->
<div class="col-lg-12">
    <div class="bootstrap-modal">
        <div class="modal fade" id="FindMovieByYearAndQuarterly">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">进行查询</h5>
                    </div>
                    <div class="modal-body">
                        <h5>请输入您需要查询的年份和季度(例如2021 3)</h5>
                        <form th:action="@{/FindMovieByYearAndQuarterly}" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">year:</label>
                                <label>
                                    <input type="text" class="form-control"  name="year">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">quarterly:</label>
                                <label>
                                    <input type="text" class="form-control"  name="quarterly">
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  根据电影名称来查询电影版本  -->
<div class="col-lg-12">
    <div class="bootstrap-modal">
        <div class="modal fade" id="FindMovieVersionsByName">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">进行查询</h5>
                    </div>
                    <div class="modal-body">
                        <h5>请输入您需要查询的电影名称</h5>
                        <form th:action="@{/FindMovieVersionsByName}" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">name:</label>
                                <label>
                                    <input type="text" class="form-control"  name="name">
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  根据导演名称来查询电影数量  -->
<div class="col-lg-12">
    <div class="bootstrap-modal">
        <div class="modal fade" id="FindMovieBydirectorDirectorName">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">进行查询</h5>
                    </div>
                    <div class="modal-body">
                        <h5>请输入您需要查询的导演名称</h5>
                        <form th:action="@{/FindMovieBydirectorDirectorName}" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">directorName:</label>
                                <label>
                                    <input type="text" class="form-control"  name="directorName">
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  根据演员名称来查询电影数量  -->
<div class="col-lg-12">
    <div class="bootstrap-modal">
        <div class="modal fade" id="FindMovieBydirectorActorName">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">进行查询</h5>
                    </div>
                    <div class="modal-body">
                        <h5>请输入您需要查询的演员名称</h5>
                        <form th:action="@{/FindMovieBydirectorActorName}" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">ActorName:</label>
                                <label>
                                    <input type="text" class="form-control"  name="ActorName">
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  根据num名称来查询导演演员合作次数  -->
<div class="col-lg-12">
    <div class="bootstrap-modal">
        <div class="modal fade" id="FindRelationshipOfDirectorAndActorByNum">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">进行查询</h5>
                    </div>
                    <div class="modal-body">
                        <h5>请输入您需要查询的导演演员合作次数最小值</h5>
                        <form th:action="@{/FindRelationshipOfDirectorAndActorByNum}" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">num:</label>
                                <label>
                                    <input type="text" class="form-control"  name="num">
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  根据num来查询演员和演员的合作  -->
<div class="col-lg-12">
    <div class="bootstrap-modal">
        <div class="modal fade" id="FindRelationshipOfActorAndActorByNum">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">进行查询</h5>
                    </div>
                    <div class="modal-body">
                        <h5>请输入您需要查询的演员之间合作次数最小值</h5>
                        <form th:action="@{/FindRelationshipOfActorAndActorByNum}" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">num:</label>
                                <label>
                                    <input type="text" class="form-control"  name="num">
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  根据type来查询电影的数量  -->
<div class="col-lg-12">
    <div class="bootstrap-modal">
        <div class="modal fade" id="FindMovieCountByType">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">进行查询</h5>
                    </div>
                    <div class="modal-body">
                        <h5>请输入您需要查询的电影的类型</h5>
                        <form th:action="@{/FindMovieCountByType}" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">type:</label>
                                <label>
                                    <input type="text" class="form-control"  name="type">
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  根据grade来查询电影的数量  -->
<div class="col-lg-12">
    <div class="bootstrap-modal">
        <div class="modal fade" id="FindMovieCountByGrade">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">进行查询</h5>
                    </div>
                    <div class="modal-body">
                        <h5>请输入您需要查询的电影的评分的最小值</h5>
                        <form th:action="@{/FindMovieCountByGrade}" method="post">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">grade:</label>
                                <label>
                                    <input type="text" class="form-control"  name="grade">
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--   调用modal的函数    -->
<script>
    function ModalForYear() {
        $('#ModalForYear').modal('show');
    }
</script>
<script>
    function ModalForYearAndMonth() {
        $('#ModalForYearAndMonth').modal('show');
    }
</script>
<script>
    function FindMovieByYearAndQuarterly() {
        $('#FindMovieByYearAndQuarterly').modal('show');
    }
</script>
<script>
    function FindMovieVersionsByName() {
        $('#FindMovieVersionsByName').modal('show');
    }
</script>
<script>
    function FindMovieBydirectorDirectorName() {
        $('#FindMovieBydirectorDirectorName').modal('show');
    }
</script>
<script>
    function FindMovieBydirectorActorName() {
        $('#FindMovieBydirectorActorName').modal('show');
    }
</script>
<script>
    function FindRelationshipOfDirectorAndActorByNum() {
        $('#FindRelationshipOfDirectorAndActorByNum').modal('show');
    }
</script>
<script>
    function FindRelationshipOfActorAndActorByNum() {
        $('#FindRelationshipOfActorAndActorByNum').modal('show');
    }
</script>
<script>
    function FindMovieCountByType() {
        $('#FindMovieCountByType').modal('show');
    }
</script>
<script>
    function FindMovieCountByGrade() {
        $('#FindMovieCountByGrade').modal('show');
    }
</script>
<script>
    function func1() {
        $('#ModalForYear').modal('show');
    }
</script>

</body>

</html>